@import 'tailwindcss';
@source "../../../dist/daisyui-toaster";
@plugin "daisyui" {
  themes: dark, light;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
}
