name: Deploy
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - run: corepack enable

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Lint
        run: pnpm lint

      - name: Run unit tests
        run: pnpm test

      - name: Upload test results to Codecov
        uses: codecov/test-results-action@v1
        if: ${{ !cancelled() }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        if: ${{ !cancelled() }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Prepare playwright
        run: pnpm playwright:prepare

      - name: Run playwright tests
        run: pnpm playwright

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

      - name: Upload dist
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist/daisyui-toaster

  publish:
    name: Publish
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 20
    if: github.ref == 'refs/heads/main'
    permissions:
      id-token: write # Required for OIDC
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Download dist
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: daisyui-toaster

      - name: Get version
        id: package-version
        run: echo "version=$(jq -r .version daisyui-toaster/package.json)" >> $GITHUB_OUTPUT

      - uses: actions/setup-node@v6
        if: ${{ !cancelled() }}
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - run: corepack enable

      - run: pnpm publish
        if: ${{ !cancelled() }}
        working-directory: daisyui-toaster

      - name: Create Tag for daisyui-toaster
        uses: rickstaa/action-create-tag@v1
        if: ${{ !cancelled() }}
        with:
          tag: v${{ steps.package-version.outputs.version }}
          tag_exists_error: false
